{{ define "main" }}
<main>
	{{ .Content }}
	<h2>{{ .Title }}</h2>
{{ range .AlternativeOutputFormats }}
    {{ printf `<a rel="%s" type="%s" href="%s">` .Rel .MediaType.Type .Permalink | safeHTML }}
		Subscribe by {{ .Name }}</a>
{{ end }}
	<ul>
		{{ range .Pages }}
			<li>
				<a href="{{ .Permalink }}" title="{{ .Date.Format "02 January 2006" }}">{{ .File.ContentBaseName | humanize }}</a>
			</li>
		{{ end }}
	</ul>

	{{ if .IsHome }}
		{{ range $taxonomyname, $taxonomy := .Site.Taxonomies }}
			{{ if $taxonomy }}
				<h2>{{ $taxonomyname | humanize }}</h2>
				<ul>
					{{ range $key, $value := $taxonomy }}
						<li><a href="{{ $taxonomyname }}/{{ $key }}">{{ $key | humanize }}</a></li>
					{{ end }}
				</ul>
			{{ end }}
		{{ end }}
	{{ end }}
</main>
{{ end }}