<nav>

	

	{{ template "breadcrumbnav" (dict "p1" .) }}

	{{ define "breadcrumbnav" }}
	{{ if .p1.Parent }}
		{{ template "breadcrumbnav" (dict "p1" .p1.Parent)  }}
    {{ else if .p1.Data.Term}}
		{{ $taxo := .p1.Data.Plural }}
			{{ template "breadcrumbnav" (dict "p1" (.p1.Site.GetPage (printf "/%s" $taxo)) )  }}
	{{ else if not .p1.IsHome }}
		{{ template "breadcrumbnav" (dict "p1" .p1.Site.Home )  }}
	{{ end }}
	<a href="{{ .p1.Permalink }}">{{ index (last 1 (split (delimit (split .p1.Permalink "/") "," "") ",")) 0 }}</a> /

{{ end }}
</nav>